*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;


}
:root{
    --color-bg: green;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-bg);
}